<div class="row" style="background-color: rgb(244, 247, 247);">
    <div class="col-md-9">
        <div class="jumbotron py-3">
            <h1 id="header-main" class="display-4 text-center">Applicants List</h1>
        </div>
    </div>
    <div class="col-md-3" >
        
        <button  class="btn btn-info btn-lg btn-block" id="add-new" (click)="change()">ADD NEW</button>

    </div>
</div>
<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>First Name</th>
                <th>Family Name</th>
                <th>Address</th>
                <th>Country</th>
                <th>Email</th>
                <th>Age</th>
                <th>Hired</th>
                <th>Delete</th>
                <th>Edit</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ad of service.list"> 
                <td> {{ad.name}} </td>
                <td> {{ad.familyName}} </td>
                <td> {{ad.address}} </td>
                <td> {{ad.countryOfOrigin}} </td>
                <td> {{ad.emailAddress}} </td>
                <td> {{ad.age}} </td>
                <td> {{ad.hired}} </td>
                <td> <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(ad.id)"> </i></td>
                <td> <i class="far fa-edit fa-lg text-info " (click)="onEdit(ad)"></i> </td>
            </tr>
        </tbody>
    </table>
</div>

